* {
    box-sizing: border-box;
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/mont/Montserrat-Regular.ttf);
}

body {
    background-color: #E3E3E3;
    margin: 0;
    font-family: montserrat;
}

a {
    text-decoration: none;
}

button,
input,
.sticker-container>img {
    cursor: pointer;
}

.canvas-container {
    position: relative;
    /* margin: 0 auto; */
    /* padding: 20px; */
    width: 500px;
    height: 500px;
}


.main-filters {
    background-color: #fff;
    padding: 15px;
    width: 100%;
}

.main-footer {
    width: 100%;
    height: 200px;
    background-color: #fff;
    background-color: #FF7F00;
    display: flex;
}

.filters-container {
    margin-right: 50px;
}

.search-container {
    margin-right: 9.375rem;
}


.grid-container,
.saved-meme-container {

    width: 100%;
    height: 70vh;
    line-height: 0;

    padding-top: 30px;
    padding-bottom: 30px;

    display: grid;
    grid-gap: .5em;

    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: 250px;
}


.main-header {
    background-color: #FF7F00;
    width: 100%;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    color: white;
}

.header-container {
    height: 100%;
}

.hide {
    display: none;
}

.main-header .navbar-conntainer>* {
    width: 132px;
    height: 65px;
    border-right: 1px solid #1d1d1d;
}

.main-header .navbar-conntainer>*:first-child {
    border-left: 1px solid #1d1d1d;
}

.nav-item {
    height: 100%;
    justify-content: center;
}

.navbar-conntainer .nav-item {
    font-family: montserrat;
    color: #ffffff;
    font-size: 1rem;
    text-shadow: 0 1px 0 #1e1e1e;
}

.logo {
    background-image: url('/img/LOGO.png');
    width: 150px;
}

.logo>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grid-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

.meme-container {
    /* padding: 40px; */
    padding: 40px;
}

.font-family-input,
.input-text-meme {
    border-radius: 20px;
    height: 40px;
    outline: none;
}

.font-family-color-container {
    margin: .75rem;
    align-items: center;
}

.font-family-input {
    flex: 6.5;
    margin-right: .5rem;
}

.color-input {
    flex: 3.5;
}

.controllers-container {
    margin-left: 25px;
    margin-right: 25px
}

.keywords-conatiner>* {
    cursor: pointer;
}

.btn-share {

    border-radius: 9px;
    font-family: Arial;
    color: #000000;
    font-size: 18px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;



}

.btn-share:hover {
    background: #adadad;
    text-decoration: none;
}


.menu-btn, .close-menu {
    display: none;
}


/* HELPERS */
.flex {
    display: flex;
}

.btn-m {
    margin: .3rem;
}

.flex.space-between {
    justify-content: space-between;
}


.flex.space-around {
    justify-content: space-around;
}

.self-start {
    align-self: flex-start;
}

.flex.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

.flex-center {
    justify-content: center;
}

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.center {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btnic {
    background-color: #FFFFFF;
    border: none;
    color: white;
    padding: 12px 14px;
    text-align: center;
    font-size: 17px;
    border-radius: 10px;
}

.search-input:focus,
.search-input {
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}


button>img {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.sticker-container {
    width: 100%;
    height: 100px;
    border-radius: calc(100px / 2);
    background-color: #ffffff;
}

.sticker-container>img {
    width: 75px;
    height: 75px;
}

.add-delete-next-line {
    padding-top: 10px;
}

.align-fonts {
    padding-top: 60px;
}

.image-upload {
    margin: .5rem;
}

.align-fonts>*:not(:last-child),
.add-delete-next-line>*:not(:last-child) {
    margin-right: 20px;
}


@media (max-width: 920px) {

    .main-container {
        /* max-width: 820px; */
    }

    .meme-container {
        /* margin: 30px; */
    }

    .canvas-container {
        /* margin: 0 auto; */
        /* padding: 20px; */
        width: 400px;
        height: 400px;
    }
}



@media (max-width: 830px) {

    .grid-container,
    .saved-meme-container {

        grid-gap: .25em;

        justify-content: center;

        grid-template-columns: repeat(auto-fill, 150px);
        grid-auto-rows: 150px;
    }

    .meme-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .canvas-container {
        width: 100%;
    }

    .controllers-container {
        width: 100%;
        justify-content: space-around;
    }

    .filters-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search-container {
        margin-right: unset;
    }

    button>img {
        height: 20px;
        width: 20px;
        object-fit: cover;
    }

    .btnic {
        padding: 8px 10px;
    }

    .align-fonts {
        /* justify-content: space-around; */
        justify-content: center;
        padding-top: 15px;
    }

    .input-text-meme {
        margin-top: 5px;
    }

    .navbar-conntainer {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background-color: rgba(255, 127, 0, 0.85);
        align-items: center;
        transform: translateY(-100%);
        transition: transform 0.8s;
        z-index: 100;
    }

    .menu-btn {
        display: block;
        font-size: 2rem;
        border: none;
        color: white;
        background: rgb(255, 127, 0);
    }

   

    .main-header .navbar-conntainer>* {
        width: 100%;
        height: 90px;
        border-right: none;
    }

    .main-header .navbar-conntainer>*:first-child {
        border-left: none;
    }

    body.menu-open .navbar-conntainer {
        transform: translateY(0);
    }

}